<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th width="80">№ п/п</th>
            <th>Назва</th>
            <th width="100">К-ть зон</th>
            <th width="120">Ціна</th>
            <th width="150">Сума</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data?.list; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td align="center">{{item.zones}}</td>
            <td align="right">{{item.price}} грн.</td>
            <td align="right">{{item.sum}} грн.</td>
        </tr>
    </tbody>
</table>

<p>Готель: <strong>{{data?.hotel || 0}}</strong> грн.</p>
<p>Знижка: <strong>{{data?.discount || 0}}</strong> грн.</p>
<p>Внески: <strong>{{data?.tips || 0}}</strong> грн.</p>
<p>Сума: <strong>{{data?.sum || 0}}</strong> грн.</p>