<form name="form" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fullName.valid }">
        <label for="fullName">ПІБ (прізвище, ім`я та по-батькові)</label>
        <input type="text" class="form-control" name="fullName" [(ngModel)]="data?.person.fullName"
            #fullName="ngModel" required />
        <div *ngIf="f.submitted && !fullName.valid" class="help-block">Поле обов`язкове</div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <label>Стать</label>
            <div class="form-group radio">
                <label class="mr-3">
                    <input type="radio" name="gender" value="true" [(ngModel)]="data?.person.gender"
                        #gender="ngModel">
                    чол.
                </label>
                <label>
                    <input type="radio" name="gender" value="false"
                        [(ngModel)]="data?.person.gender" #gender="ngModel">
                    жін.
                </label>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <label for="dateOfBirth">Дата народження</label>
                <input type="date" class="form-control" name="dateOfBirth"
                    [(ngModel)]="data?.person.dateOfBirth" #dateOfBirth="ngModel" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="cellPhone">Телефон</label>
        <input type="text" class="form-control" name="cellPhone"
            [(ngModel)]="data?.person.cellPhone" #cellPhone="ngModel" />
    </div>
    <div class="form-group">
        <label for="town">Місто / село</label>
        <input type="text" class="form-control" name="town" [(ngModel)]="data?.person.town"
            #town="ngModel" />
    </div>
    <div class="form-group">
        <label for="address">Адреса</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="data?.person.address"
            #address="ngModel" />
    </div>
</form>
