<div class="row mb-3">
    <div class="col">
        <button [ngClass]="{ 'dropdown-item': true, 'active': !creating }"
            (click)="creating = false">Знайти</button>
    </div>
    <div class="col">
        <button [ngClass]="{ 'dropdown-item': true, 'active': creating }" (click)="creating = true">Створити</button>
    </div>
</div>
<div [hidden]="creating" [style.height.px]="288" style="overflow-y:scroll;">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">Пошук</div>
        </div>
        <input type="text" class="form-control" name="search" [(ngModel)]="search" (keyup)="load()" />
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-sm">
            <tr *ngFor="let item of patients">
                <td [ngClass]="{'bg-primary': item.id == patientId}"
                    (click)="patientId = item.id"
                    title="
                        {{item.person.gender ? 'ч.' : 'ж.'}}, 
                        {{item.person.dateOfBirth | date:'dd.MM.yyyy'}}, 
                        {{item.person.town}},
                        {{item.balance}} грн.  
                        ">{{item.person.fullName}}</td>
            </tr>
        </table>
    </div>
</div>
<form name="form" #f="ngForm" novalidate>
        <div [hidden]="!creating">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fullName.valid }">
                <label for="fullName">ПІБ (прізвище, ім`я та по-батькові)</label>
                <input type="text" class="form-control" name="fullName"
                    [(ngModel)]="data?.person.fullName" #fullName="ngModel" required />
                <div *ngIf="f.submitted && !fullName.valid" class="help-block">Поле
                    обов`язкове</div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label>Стать</label>
                    <div class="form-group radio">
                        <label class="mr-3">
                            <input type="radio" name="gender" value="true"
                                [(ngModel)]="data?.person.gender" #gender="ngModel">
                            чол.
                        </label>
                        <label>
                            <input type="radio" name="gender" value="false"
                                [(ngModel)]="data?.person.gender" #gender="ngModel">
                            жін.
                        </label>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="dateOfBirth">Дата народження</label>
                        <input type="date" class="form-control" name="dateOfBirth"
                            [(ngModel)]="data?.person.dateOfBirth" #dateOfBirth="ngModel" />
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Телефон</div>
                </div>
                <input type="text" class="form-control" name="cellPhone"
                    [(ngModel)]="data?.person.cellPhone" #cellPhone="ngModel" />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Місто / село</div>
                </div>
                <input type="text" class="form-control" name="town" [(ngModel)]="data?.person.town"
                    #town="ngModel" />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Адреса</div>
                </div>
                <input type="text" class="form-control" name="address"
                    [(ngModel)]="data?.person.address" #address="ngModel" />
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header pl-2">
                <input type="checkbox" class="form-check-input ml-2" name="addProcedure"
                    [(value)]="addProcedure" [(ngModel)]="addProcedure" />
                <label class="form-check-label ml-4">Призначити процедуру</label>
            </div>
            <div class="card-body" [hidden]="!addProcedure">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Дата</div>
                            </div>
                            <input type="date" class="form-control" name="date"
                                [(ngModel)]="data.date" #date="ngModel" required />
                        </div>
                        <div *ngIf="f.submitted && !date.valid" class="help-block text-danger">Поле
                            обов`язкове</div>
                    </div>
                    <div class="col-auto ml-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Час</div>
                                <select class="form-control" name="appointed"
                                    [(ngModel)]="data.appointed" #appointed="ngModel" required>
                                    <option [ngValue]="8">08:00</option>
                                    <option [ngValue]="9">09:00</option>
                                    <option [ngValue]="10">10:00</option>
                                    <option [ngValue]="11">11:00</option>
                                    <option [ngValue]="12">12:00</option>
                                    <option [ngValue]="13">13:00</option>
                                    <option [ngValue]="14">14:00</option>
                                    <option [ngValue]="15">15:00</option>
                                    <option [ngValue]="16">16:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="f.submitted && !appointed.valid" class="help-block text-danger">Поле
                        обов`язкове</div>
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Процедура</div>
                    </div>
                    <select class="form-control" name="procedureId" [(ngModel)]="data.procedureId"
                        #procedureId="ngModel" required>
                        <option *ngFor="let procedure of procedures" [ngValue]="procedure.id">
                            {{procedure.name}}</option>
                    </select>
                </div>
                <div *ngIf="f.submitted && !procedureId.valid" class="help-block text-danger">Поле
                    обов`язкове</div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="activate"
                        [(value)]="data.activate" [(ngModel)]="data.activate" />
                    <label class="form-check-label">Зробити активною</label>
                </div>
            </div>
        </div>
    </form>