<div class="row justify-content-md-center">
    <div class="col-6">
        <h2>{{model.id ? 'Редагування' : 'Створення'}} пацієнта</h2>
        <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                <label for="lastName">Прізвище</label> <input type="text" class="form-control"
                    name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
                <div *ngIf="f.submitted && !lastName.valid" class="help-block">Поле
                    обов`язкове</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                <label for="firstName">Ім`я</label> <input type="text" class="form-control"
                    name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
                <div *ngIf="f.submitted && !firstName.valid" class="help-block">Поле
                    обов`язкове</div>
            </div>
            <div class="form-group">
                <label for="patronymic">По батькові</label> <input type="text" class="form-control"
                    name="patronymic" [(ngModel)]="model.patronymic" #patronymic="ngModel" />
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Стать</label>
                    <div class="form-group radio">
                        <label class="mr-3"><input type="radio" name="gender" value="true"
                            [(ngModel)]="model.gender" #gender="ngModel">чол.</label> <label><input
                            type="radio" name="gender" value="false" [(ngModel)]="model.gender"
                            #gender="ngModel">жін.</label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="dateOfBirth">Дата народження</label> <input type="date"
                            class="form-control" name="dateOfBirth" [(ngModel)]="model.dateOfBirth"
                            #dateOfBirth="ngModel" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="cellPhone">Телефон</label> <input type="text" class="form-control"
                    name="cellPhone" [(ngModel)]="model.cellPhone" #cellPhone="ngModel" />
            </div>
            <div class="form-group">
                <label for="town">Місто / село</label> <input type="text" class="form-control"
                    name="town" [(ngModel)]="model.town" #town="ngModel" />
            </div>
            <div class="form-group">
                <label for="address">Адреса</label> <input type="text" class="form-control"
                    name="address" [(ngModel)]="model.address" #address="ngModel" />
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Зберегти</button>
                <img *ngIf="loading" alt="loading" src="/assets/loading.gif"> <a
                    [routerLink]="['/patients']" class="btn btn-link">Скасувати</a>
            </div>
        </form>
    </div>
</div>
