<div class="row">
    <div class="col">
        <div class="form-row mb-4">
            <div class="col-auto">
                <h3>Список пацієнтів</h3>
            </div>
            <div class="col-auto">
                <button class="btn btn-success" routerLink="/patient-form">Створити</button>
            </div>
            <div class="col-auto mr-auto">
                <img *ngIf="loading" alt="loading" src="/assets/loading.gif">
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Пошук:</div>
                    </div>
                    <input class="form-control" #searchfield (keyup)="load(searchfield.value)">
                </div>
            </div>
        </div>
        <div class="content table-responsive table-full-width" sortable-table
            (sorted)="onSorted($event)">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th sortable-column="lastName" sort-direction="asc">ПІБ</th>
                        <th>Стать</th>
                        <th>Дата народження</th>
                        <th>Місто / село</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of items; let i = index">
                    <tr [ngStyle]="{'cursor': 'pointer'}" (click)="rows[i]=!rows[i]">
                        <td><i
                            [ngClass]="{'fa': true, 'fa-caret-right': !rows[i], 'fa-caret-down': rows[i] }"></i></td>
                        <td>{{getFullName(item)}}</td>
                        <td><i
                            [ngClass]="{'fa': true, 'fa-mars': item.person.gender, 'fa-venus': !item.person.gender }"
                            aria-hidden="true"></i></td>
                        <td>{{item.person.dateOfBirth | date:'dd.MM.yyyy'}}</td>
                        <td>{{item.person.town}}</td>
                    </tr>
                    <tr [hidden]="!rows[i]">
                        <td colspan="100">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <h4 class="col-auto mr-auto">Інформація про паціента</h4>
                                        <div class="col-auto">
                                            <button class="btn btn-primary"
                                                [routerLink]="['/patient-form', { id: item.id }]">
                                                Редагувати</button>
                                            <button class="btn btn-danger"
                                                (click)="delete(item.id, getFullName(item))">
                                                Видалити</button>
                                            <button class="btn btn-info"
                                                (click)="showAssignProcedurePopup(item.id)">
                                                Призначити на процедуру</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <b>Телефон:</b> {{item.person.cellPhone}}<br /> 
                                    <b>Адреса:</b> {{item.person.address}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
