<div class="row mb-3">
    <div class="col-auto">
        <h3>Список пацієнтів</h3>
    </div>
    <div class="col-auto mr-auto">
        <button class="btn btn-success" [routerLink]="['/patient-form']">Створити</button>
    </div>
    <div class="col-auto">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Пошук:</div>
            </div>
            <input class="form-control" #searchfield (keyup)="load(searchfield.value)">
        </div>
    </div>
    <div class="col-auto">
        <button [disabled]="loading" (click)="searchfield.setValue = ''; load()" title="Обновити"
            [ngClass]="{'btn btn-light text-success fa fa-refresh': true, 'fa-spin': loading}"></button>
    </div>
</div>
<div class="content table-responsive table-full-width">
    <table class="table table-sm">
        <tbody class="bg-secondary text-white"><tr><td colspan="2">На сьогодні:</td></tr></tbody>
        <tbody *ngFor="let item of todayItems" class="bg-secondary text-white">
            <ng-container *ngTemplateOutlet="templateRef; context: {$implicit: item}"></ng-container>
        </tbody>
        <tbody><tr><td colspan="2">Загальний:</td></tr></tbody>
        <tbody *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="templateRef; context: {$implicit: item}"></ng-container>
        </tbody>
    </table>
</div>
<ng-template #templateRef let-item>
    <tr (click)="item.expanded=!item.expanded" id="row-{{item.id}}" [ngStyle]="{'cursor': 'pointer'}">
        <td><i [ngClass]="{'fa': true, 'fa-caret-right': !item.expanded, 'fa-caret-down': item.expanded }"></i></td>
        <td>{{item?.person.fullName}}</td>
    </tr>
    <tr [hidden]="!item.expanded">
        <td colspan="2">
            <div class="m-3">
                <b>Стать:</b> <i
                    [ngClass]="{'fa': true, 'fa-mars': item?.person.gender, 'fa-venus': !item?.person.gender }"
                    aria-hidden="true"></i> {{item?.person.gender ? 'чол.' : 'жін.'}}<br /> <b>Дата
                    народження:</b> {{item?.person.dateOfBirth | date:'dd.MM.yyyy'}}<br /> <b>Місто /
                    село:</b> {{item?.person.town}}<br /> <b>Телефон:</b> {{item?.person.cellPhone}}<br /> <b>Адреса:</b>
                {{item?.person.address}}<br /> <br /> <b>Баланс:</b> {{item?.balance}} грн.
            </div>
            <div class="m-3">
                <button class="btn btn-primary m-1" [routerLink]="['/patient-form', { id: item?.id }]">Редагувати</button>
                <button class="btn btn-danger m-1" (click)="delete(item?.id, item?.person.fullName)">Видалити</button>
                <button class="btn btn-info m-1" (click)="showAssignProcedurePopup(item?.id)">
                    Призначити процедуру</button>
                <button class="btn btn-success m-1" (click)="showAssignHotelPopup(item?.id)">Поселити
                    у готель</button>
                <button class="btn btn-warning m-1" (click)="showIncomePopup(item)">
                    Розрахувати</button>
                <a routerLink="/statistic/patient/{{item?.id}}" *ngxPermissionsOnly="['ROLE_HEAD']">
                    <button class="btn btn-secondary m-1">Статистика</button>
                </a>
            </div>
        </td>
    </tr>
</ng-template>