<div class="row justify-content-md-center">
    <div class="col-6">
        <h2>{{model.id > 0 ? 'Редагування' : 'Створення'}} лікаря</h2>
        <form name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fullName.valid }">
                <label for="fullName">ПІБ (прізвище, ім`я та по-батькові)</label> <input type="text"
                    class="form-control" name="fullName" [(ngModel)]="model.fullName"
                    #fullName="ngModel" required />
                <div *ngIf="f.submitted && !fullName.valid" class="help-block text-danger">ПІБ
                    обов`язково</div>
            </div>
            <div class="form-group">
                <label for="cellPhone">Телефон</label> <input type="text" class="form-control"
                    name="cellPhone" [(ngModel)]="model.cellPhone" #cellPhone="ngModel" />
            </div>
            <div class="form-group">
                <label for="speciality">Спеціальність</label> <input type="text"
                    class="form-control" name="speciality" [(ngModel)]="model.speciality"
                    #speciality="ngModel" />
            </div>
            <div class="form-group">
                <label>Процедури</label>
                <div class="form-check" *ngFor="let procedure of procedures">
                    <input type="checkbox" class="form-check-input" [name]="procedure.value"
                        [(value)]="procedure.checked" [(ngModel)]="procedure.checked" /> <label
                        class="form-check-label">{{procedure.name}}</label>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Зберегти</button>
                <img *ngIf="loading" alt="loading" src="/assets/loading.gif"> <a
                    [routerLink]="['/doctors']" class="btn btn-link">Скасувати</a>
            </div>
        </form>
    </div>
</div>
