<app-loader [loader]="loading"></app-loader>
<div class="row mb-3">
    <div class="col-auto">
        <h3>Список лікарів</h3>
    </div>
    <div class="col-auto mr-auto">
        <button class="btn btn-success" [routerLink]="['/doctor-form']">Створити</button>
    </div>
    <div class="col-auto">
        <button [disabled]="loading" (click)="hideNotActive = !hideNotActive; load()"
          title="{{hideNotActive ? 'Показати' : 'Приховати'}} не активних"
          [ngClass]="{'btn btn-light fa fa-user-circle': true, 'text-success': hideNotActive, 'text-danger': !hideNotActive}"></button>
        <button [disabled]="loading" (click)="load()" title="Обновити"
            [ngClass]="{'btn btn-light text-success fa fa-refresh': true, 'fa-spin': loading}"></button>
    </div>
</div>
<div class="content table-responsive table-full-width">
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th [style.min-width.px]="300">ПІБ</th>
                <th>Відп.</th>
                <th>Телефон</th>
                <th>Спеціальність</th>
                <th>Ставка</th>
                <th>Кредит</th>
                <th [style.width.px]="300">Процедури</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>
                	<i class="fa fa-user-circle" aria-hidden="true"
                		title="{{item.active ? 'Активний' : 'Не активний'}}"
                		[ngClass]="{'text-success': item.active, 'text-danger': !item.active}"></i>
                	&nbsp;{{item.fullName}}
               	</td>
                <td>{{item.daysOff}}</td>
                <td>{{item.cellPhone}}</td>
                <td>{{item.speciality}}</td>
                <td>{{item.rate}}</td>
                <td>{{item.kredit}}</td>
                <td>{{getProcedures(item.procedureIds)}}</td>
                <td align="right">
                    <button class="btn btn-primary btn-sm"
                        [routerLink]="['/doctor-form', { id: item.id }]">Редагувати</button>
                    <!-- <button class="btn btn-danger btn-sm" (click)="delete(item.id, item.fullName)">Видалити</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
