<h5>
	<i class="fa fa-spinner fa-pulse text-secondary pull-right" *ngIf="loading" aria-hidden="true"></i>
	{{doctorName}}
</h5>
<button class="btn btn-info mt-3" title="Редагувати лікаря" (click)="editDoctor()">
	<i class="fa fa-user" aria-hidden="true"></i> Редагувати лікаря
</button>
   <button class="pull-right btn btn-success mt-3" (click)="load()" title="Обновити">
	<i class="fa fa-refresh" aria-hidden="true"></i> Перерахувати
</button>

<form name="form" #f="ngForm" novalidate>
    <div class="row mt-3" [ngClass]="{ 'has-error': f.submitted && !f.valid }">
	    <div class="input-group col mr-2">
	        <div class="input-group-prepend"><div class="input-group-text">з</div></div>
	        <input type="date" class="form-control" name="from" [(ngModel)]="from" 
	        	[ngClass]="{'is-invalid': !isValid()}" (change)="load()" [disabled]="loading" />
	    </div>
	    <div class="input-group col">
	        <div class="input-group-prepend"><div class="input-group-text">по</div></div>
	        <input type="date" class="form-control" name="to" [(ngModel)]="to"
	        	[ngClass]="{'is-invalid': !isValid()}" (change)="load()" [disabled]="loading" />
	    </div>
    </div>
</form>
<div [ngClass]="{'loadmask': loading}" class="mt-2 content table-responsive table-full-width"
	 [style.height.px]="200">
    <table class="table table-sm mt-3">
        <tbody *ngIf="!loading">
            <tr *ngFor="let item of data">
                <td>header</td>
                <td class="text-right">0 грн.</td>
            </tr>
        </tbody>
    </table>
</div>