<app-loader [loader]="loading"></app-loader>
<div class="position-fixed" [style.right.px]="50">
    <button [ngClass]="{'fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
        [disabled]="loading" (click)="load()" title="Обновити"></button>
</div>
<div class="row mb-2">
   	<div class="col">
	    <h4>Зарплатна відомість за період 
	    	<span *ngIf="data.length > 0">
	    		з {{data[0].from | date:"dd.MM"}} по {{data[0].to | date:"dd.MM"}}
	    	</span>
	    	<span *ngIf="data.length == 0"> ...</span>
	    </h4>
    </div>
    <div class="col-auto form-inline">
        <button class="btn btn-success ml-2" (click)="changeWeek(-1)">
            <i class="fa fa-arrow-left"></i> попередній тиждень
        </button>
        <button class="btn btn-success ml-2" (click)="changeWeek(1)">
            наступний тиждень <i class="fa fa-arrow-right"></i>
        </button>
    </div>
</div>
<div class="content table-responsive table-full-width table-sm">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th></th>
                <th>Прізвище</th>
                <th>Днів</th>
                <th>Годин</th>
                <th>Ставка</th>
                <th>Бонуси</th>
                <th>Корекція</th>
                <th>Залишок</th>
                <th>Ліміт</th>
                <th>Премія</th>
                <th>Нараховано</th>
                <th>Виплачено</th>
                <th>Отримати</th>
            </tr>
        </thead>
        <tbody *ngIf="data.length > 0">
            <tr *ngFor="let item of data">
                <td class="text-nowrap" [style.width.px]="92">
	                <button class="btn btn-success" title="Призначити" 
	                	(click)="showSetSalaryPopup(item)"
	                	[disabled]="item.closed">
	                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
	                </button>
	                <button class="btn btn-info" title="Історія виплат" 
	                	(click)="showSalaryHistoryPopup(item)">
	                    <i class="fa fa-usd" aria-hidden="true"></i>
	                </button>
                </td>
                <td class="text-nowrap" title="{{item.name}}">{{item.lastName}}</td>
                <td class="text-right text-nowrap">{{item.days}}</td>
                <td class="text-right text-nowrap">{{item.hours}}</td>
                <td class="text-right text-nowrap">{{item.stavka}} грн.</td>
                <td class="text-right text-nowrap">{{item.accural}} грн.</td>
                <td class="text-right text-nowrap">{{item.penalty}} грн.</td>
                <td class="text-right text-nowrap">{{item.rest}} грн.</td>
                <td class="text-right text-nowrap">{{item.kredit}} грн.</td>
                <td class="text-right text-nowrap">{{item.award}} грн.</td>
                <td class="text-right text-nowrap">{{item.total}} грн.</td>
                <td class="text-right text-nowrap">{{item.recd}} грн.</td>
                <td class="text-right text-nowrap">{{item.actual}} грн.</td>
            </tr>
	        <tr>
	            <td colspan="10"><strong>Всього:</strong></td>
	            <td class="text-right text-nowrap"><strong>{{totalSummary}} грн.</strong></td>
	            <td class="text-right text-nowrap"><strong>{{totalRecd}} грн.</strong></td>
	            <td class="text-right text-nowrap"><strong>{{totalActual}} грн.</strong></td>
	        </tr>
        </tbody>
        <tr *ngIf="data.length === 0"><td colspan="13" class="text-center text-danger">
        	<strong>Данні відсутні ...</strong>
        </td></tr>
    </table>
</div>
