<app-loader [loader]="loading"></app-loader>
<div class="position-fixed" [style.right.px]="50" [style.z-index]="999999">
  <button [ngClass]="{'fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
    [disabled]="loading" (click)="load()" title="Обновити"></button>
</div>
<div class="row mb-2">
  <div class="col"><h4>Зарплати підсумок (по дням)</h4></div>
  <div class="col-auto mr-2">
    <div class="input-group" [style.width.px]="200">
      <div class="input-group-prepend"><div class="input-group-text">з</div></div>
      <input type="date" class="form-control" name="from" [(ngModel)]="from" 
        [ngClass]="{'is-invalid': !isValid()}" (change)="load()" [disabled]="loading" />
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group" [style.width.px]="210">
      <div class="input-group-prepend"><div class="input-group-text">по</div></div>
      <input type="date" class="form-control" name="to" [(ngModel)]="to"
        [ngClass]="{'is-invalid': !isValid()}" (change)="load()" [disabled]="loading" />
    </div>
  </div>
</div>
<div class="content table-responsive table-full-width table-sm" *ngIf="!detailed">
  <table class="table table-bordered">
    <thead class="thead-dark small">
      <tr class="text-center">
        <th></th>
        <th>Доктор</th>
        <th>Ставка</th>
        <th>Бонуси</th>
        <th>Нараховано</th>
      </tr>
    </thead>
    <tbody *ngIf="data.length > 0">
      <tr *ngFor="let item of data">
        <td [style.width.px]="40">
          <button class="btn btn-success btn-sm" title="Детальніше" (click)="showDetails(item)">
            <i class="fa fa-eyedropper" aria-hidden="true"></i>
          </button>
        </td>
        <td class="text-nowrap" title="{{item.name}}">{{item.lastName}}</td>
        <td class="text-right text-nowrap">{{item.stavka}} грн.</td>
        <td class="text-right text-nowrap">{{item.accural}} грн.</td>
        <td class="text-right text-nowrap">{{item.total}} грн.</td>
      </tr>
      <tr>
        <td colspan="2"><strong>Всього:</strong></td>
        <td class="text-right text-nowrap"><strong>{{totalStavka}} грн.</strong></td>
        <td class="text-right text-nowrap"><strong>{{totalAccural}} грн.</strong></td>
        <td class="text-right text-nowrap"><strong>{{totalTotal}} грн.</strong></td>
      </tr>
    </tbody>
    <tr *ngIf="data.length === 0"><td colspan="5" class="text-center text-danger">
    	<strong>Данні відсутні ...</strong>
    </td></tr>
  </table>
</div>

<div class="content table-responsive table-full-width table-sm" *ngIf="detailed">
  <table class="table table-bordered">
      <tr><th>Доктор</th><td>{{detailedItem.name}}</td></tr>
      <tr><th>Залишок <small>("-" — означає борг)</small></th><td>{{detailedItem.actual}} грн.</td></tr>
      <tr><th>Залишок на {{this.to | date:"dd.MM.yyyy"}} <small>("-" — означає борг)</small></th>
        <td>{{detailedItem.actualNow}} грн.</td></tr>
      <tr><th>Отримано</th><td>{{detailedItem.recd}} грн.</td></tr>
      <tr><th>Нараховано</th><td>{{detailedItem.total}} грн.</td></tr>
      <tr><th>Ставка</th><td>{{detailedItem.stavka}} грн.</td></tr>
      <tr><th>Бонуси</th><td>{{detailedItem.accural}} грн.</td></tr>
      <tr><th>Премії</th><td>{{detailedItem.award}} грн.</td></tr>
      <tr><th>Штрафи</th><td>{{detailedItem.penalty}} грн.</td></tr>
      <tr><th>Днів</th><td>{{detailedItem.days}}</td></tr>
  </table>
</div>