<app-loader [loader]="loading"></app-loader>
<div class="position-fixed" [style.right.px]="50">
    <button [ngClass]="{'fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
        [disabled]="loading" (click)="load()" title="Обновити"></button>
</div>
<div class="row mb-2">
	<div class="col"><h4>Зарплати підсумок за період</h4></div>
	<div class="col-auto mr-2">
	   	<div class="input-group" [style.width.px]="200">
	        <div class="input-group-prepend"><div class="input-group-text">з</div></div>
	        <input type="date" class="form-control" name="from" [(ngModel)]="from" 
	        	[ngClass]="{'is-invalid': !isValid()}" (change)="load()" [disabled]="loading" />
	    </div>
	</div>
	<div class="col-auto">
	    <div class="input-group" [style.width.px]="210">
	        <div class="input-group-prepend"><div class="input-group-text">по</div></div>
	        <input type="date" class="form-control" name="to" [(ngModel)]="to"
	        	[ngClass]="{'is-invalid': !isValid()}" (change)="load()" [disabled]="loading" />
	    </div>
    </div>
</div>
<div class="content table-responsive table-full-width table-sm">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th></th>
                <th>Прізвище</th>
                <th>Отримати</th>
                <th>Нараховано</th>
                <th>Виплачено</th>
                <th>Днів</th>
                <th>Годин</th>
                <th>Ставка</th>
                <th>Бонуси</th>
                <th>Корекція</th>
                <th>Залишок</th>
                <th>Ліміт</th>
                <th>Премія</th>
            </tr>
        </thead>
        <tbody *ngIf="data.length > 0">
            <tr *ngFor="let item of data">
                <td class="text-nowrap">
	                <button class="btn btn-info" title="Історія виплат" 
	                	(click)="showSalaryHistoryPopup(item)">
	                    <i class="fa fa-usd" aria-hidden="true"></i>
	                </button>
                </td>
                <td class="text-nowrap" title="{{item.name}}">{{item.lastName}}</td>
                <td class="text-right text-nowrap">{{item.actual}} грн.</td>
                <td class="text-right text-nowrap">{{item.total}} грн.</td>
                <td class="text-right text-nowrap">{{item.recd}} грн.</td>
                <td class="text-right text-nowrap">{{item.days}}</td>
                <td class="text-right text-nowrap">{{item.hours}}</td>
                <td class="text-right text-nowrap">{{item.stavka}} грн.</td>
                <td class="text-right text-nowrap">{{item.accural}} грн.</td>
                <td class="text-right text-nowrap">{{item.penalty}} грн.</td>
                <td class="text-right text-nowrap">{{item.rest}} грн.</td>
                <td class="text-right text-nowrap">{{item.kredit}} грн.</td>
                <td class="text-right text-nowrap">{{item.award}} грн.</td>
            </tr>
	        <tr>
	            <td colspan="2"><strong>Всього:</strong></td>
	            <td class="text-right text-nowrap"><strong>{{totalActual}} грн.</strong></td>
	            <td class="text-right text-nowrap"><strong>{{totalSummary}} грн.</strong></td>
	            <td class="text-right text-nowrap"><strong>{{totalRecd}} грн.</strong></td>
	            <td colspan="8"></td>
	        </tr>
        </tbody>
        <tr *ngIf="data.length === 0"><td colspan="13" class="text-center text-danger">
        	<strong>Данні відсутні ...</strong>
        </td></tr>
    </table>
</div>
