<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body ng-app = "elqueue">
<div class="container" style="margin-top: 30px" ng-controller = "AppCtrl as ctrl" >
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading"> Patients </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>Id</th>
                            <th>Person</th>
                            <th>Diagnosis</th>
                            <th>Status</th>
                            <th>Minutes</th>
                            <th>Progress</th>
                            <th>Balance</th>
                            <th>Activity</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat = "item in patients">
                            <td>{{item.id}}</td>
                            <td>{{item.person.lastName}}</td>
                            <td>{{item.therapy.diag}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.minutes}}</td>
                            <td>0/0</td>
                            <td>{{item.balance}}</td>
                            <td>{{item.active}}</td>
                            <td><button ng-click="ctrl.setactive(item.id)">SET ACTIVE</button></td>
                            <td><button ng-click="ctrl.delpat(item.id)">DEL</button></td>




                        </tr>

                        </tbody>

                    </table>





                </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>