<div class="row">
  <div class="col">
    <div class="form-row mb-4">
      <div class="col-auto">
        <h3>Список пацієнтів, записаних на сьогодні</h3>
      </div>
      <div class="col-auto mr-auto">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th></th> <th [style.min-width.px]="300">ПІБ</th> <th>Статус</th> <th>Баланс</th> <th>Активність</th> <th>Прогрес</th> <th>Час очікування</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items; let i = index">
          <tr (click)="rows[i]=!rows[i]">
            <td><i [ngClass]="{'fa': true, 'fa-caret-right': (!rows[i]), 'fa-caret-down': (rows[i]) }"></i></td>
            <td>{{getFullName(item.person)}}</td>
            <td><span [class]="Statuses[item.status].cssClass">{{Statuses[item.status].text}}</span></td>
            <td>{{item.balance}}</td>
            <td><span [class]="Activity[item.active].cssClass">{{Activity[item.active].text}}</span></td>
            <td>{{getProgress(item.proceduresForToday)}}</td>
            <td><span class="{{getTimeDiffClass(item.delta)}}">{{item.delta}}</span> хв.</td>
          </tr>
          <tr [hidden]="!rows[i]">
            <td colspan="100">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h4 class="col-auto mr-auto">Призначені процедури</h4>
                    <div class="col-auto">
                      <button class="btn btn-danger" (click)="delete(item.id, getFullName(item.person))">Видалити з черги</button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <p *ngFor="let proc of item.proceduresForToday" title="{{!proc.executed ? 'не пройдено' : 'пройдено'}}">
                        <span class="fa fa-{{!proc.executed ? 'minus text-danger' : 'check text-success'}}"></span> {{proc.name}}
                      </p>
                    </div>
                    <div class="col text-right">
                      <p>
                        <b class="col-md-5">Встановити статус:</b>
                        <select [class]="Statuses[item.status].cssClass" [(ngModel)]="item.status" (change)="updateStatus(item.id, item.status)" [style.width.px]="120">
                          <option *ngFor="let status of StatusesArr" [ngValue]="status" [class]="Statuses[status].cssClass">
                            {{Statuses[status].text}}
                          </option>
                        </select>
                      </p>
                      <p>
                        <b class="col-md-5">Встановити активність:</b>
                        <select [class]="Activity[item.active].cssClass" [(ngModel)]="item.active" (change)="updateActivity(item.id, item.active)" [style.width.px]="120">
                          <option *ngFor="let act of ActivityArr" [ngValue]="act" [class]="Activity[act].cssClass">
                            {{Activity[act].text}}
                          </option>
                        </select>
                      </p>
                      <p>
                        <b class="col-md-5">Встановити баланс:</b>
                        <input type="number" [(ngModel)]="item.balance" (change)="updateBalance(item.id, item.balance)" [style.width.px]="120"/>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>