<div class="row justify-content-md-center">
  <div class="col-6">
    <h2>{{model.id > 0 ? 'Редагування' : 'Створення'}} процедури</h2>
    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <label for="name">Назва</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
        <div *ngIf="f.submitted && !name.valid" class="help-block">Назва обов`язково</div>
      </div>
      <div class="form-group">
        <label for="cabinet">Кабінет</label>
        <input type="number" class="form-control" name="cabinet" [(ngModel)]="model.cabinet" #cabinet="ngModel" />
      </div>
      <label>Ціни</label>
      <div class="row form-group">
        <div class="col-md-3">
          Базова
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" name="price" [(ngModel)]="model.price" #foreigner="ngModel" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
          <span [class]="Statuses.FOREIGNER.cssClass">{{Statuses.FOREIGNER.text}}</span>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" name="foreigner" [(ngModel)]="model.foreigner" #foreigner="ngModel" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
          <span [class]="Statuses.VIP.cssClass">{{Statuses.VIP.text}}</span>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" name="vip" [(ngModel)]="model.vip" #vip="ngModel" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
          <span [class]="Statuses.BUSINESS.cssClass">{{Statuses.BUSINESS.text}}</span>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" name="business" [(ngModel)]="model.business" #business="ngModel" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
          <span [class]="Statuses.ALL_INCLUSIVE.cssClass">{{Statuses.ALL_INCLUSIVE.text}}</span>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" name="allInclusive" [(ngModel)]="model.allInclusive" #allInclusive="ngModel" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
          <span [class]="Statuses.SOCIAL.cssClass">{{Statuses.SOCIAL.text}}</span>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" name="social" [(ngModel)]="model.social" #social="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Зберегти</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/procedures']" class="btn btn-link">Скасувати</a>
      </div>
    </form>
  </div>
</div>
