<div class="row">
  <div class="col">
    <div class="form-row mb-4">
      <div class="col-auto">
        <h3>Список процедур</h3>
      </div>
      <div class="col-auto">
        <button class="btn btn-success" routerLink="/procedure-form">Створити</button>
      </div>
      <div class="col-auto mr-auto">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </div>    
    <div class="content table-responsive table-full-width">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th></th> <th>Назва</th> <th>Кабінет</th> <th>Ціна:</th> <th>Базова</th>
            <th *ngFor="let status of StatusesArr"><span [class]="Statuses[status].cssClass">{{Statuses[status].text}}</span></th> 
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items; let i = index" (click)="rows[i]=!rows[i]">
          <tr>
            <td><i [ngClass]="{'fa': true, 'fa-caret-right': (!rows[i]), 'fa-caret-down': (rows[i]) }"></i></td>
            <td>{{item.name}}</td>
            <td>{{item.cabinet}}</td>
            <td></td>
            <td>{{item.price}}</td>
            <td>{{item.foreigner}}</td>
            <td>{{item.vip}}</td>
            <td>{{item.business}}</td>
            <td>{{item.allInclusive}}</td>
            <td>{{item.social}}</td>
            <td align="right">
              <button class="btn btn-primary btn-sm" [routerLink]="['/procedure-form', { id: item.id }]">Редагувати</button>
            </td>
          </tr>
          <tr [hidden]="!rows[i]">
            <td colspan="100">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h4 class="col-auto mr-auto">Карта процедури</h4>
                  </div>
                </div>
                <div class="card-body">
                  В розробці
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>