<app-loader [loader]="loading"></app-loader>
<div class="row justify-content-md-center">
    <div class="col-6">
        <h2>Редагування аккаунта</h2>
        <form name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" novalidate>
        	<div class="form-check mt-4 mb-4">
                <input type="checkbox" class="form-check-input" [name]="enabled"
                    [(value)]="model.enabled" [(ngModel)]="model.enabled" #enabled="ngModel" />
                    <label class="form-check-label">Включений</label> 
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="username">Ім`я користувача</label> <input type="text"
                    class="form-control" name="username" [(ngModel)]="model.username"
                    #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block text-danger">
                    обов`язково</div>
            </div>
            <!-- 
            <div class="form-group">
                <label>Процедури</label>
                <div class="row m-1" *ngFor="let procedure of procedures">
	                <div class="col form-check">
	                    <input type="checkbox" class="form-check-input" [name]="procedure.value"
	                        [(value)]="procedure.checked" [(ngModel)]="procedure.checked" /> <label
	                        class="form-check-label">{{procedure.name}}</label> 
	                </div>
	                <div class="col form-inline"> 
						<input [style.width.px]="150" type="number" class="form-control"
	                    	[name]="'percents_' + procedure.value" [(ngModel)]="procedure.procent"/> 
	                    	<label class="ml-2">%</label> 
	                </div>
                </div>
            </div>
             -->
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Зберегти</button>
                <button [routerLink]="['/users']" class="btn btn-link">Скасувати</button>
                <i class="fa fa-refresh fa-spin" [hidden]="!loading"></i>
            </div>
        </form>
    </div>
</div>
