.masonry-item { 
  width: 250px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: 150px;
  overflow-y: hidden;
}

.masonry-header { 
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.masonry-body { 
  padding: 5px;
  height: 110px;
  overflow-y: scroll;
}