<div class="content">
    <div class="row">
        <div class="ml-auto">
            <button
                [ngClass]="{'pull-right fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
                [disabled]="loading" (click)="load()" title="Обновити"></button>
        </div>
    </div>
    <ngx-masonry [options]="myOptions" [updateLayout]="updateMasonryLayout"
        (layoutComplete)="updateMasonryLayout = false"> <ngx-masonry-item
        class="masonry-item" *ngFor="let group of items; let i = index">
    <div
        [ngClass]="{'masonry-header': true, 'bg-success': group.vacant, 'bg-danger': !group.vacant}"
        (click)="toggleGroup(group)" [ngStyle]="{'cursor': 'pointer'}"
        title="{{group.procedureName}}">
        <span class="badge pull-right">{{group.patients?.length}}</span> <span
            class="masonry-header-title">{{group.procedureName}}</span>
    </div>
    <div [ngClass]="{'masonry-body': true, 'expanded': group?.expanded}">
        <div *ngFor="let item of group.patients">
            <button title='{{ item?.outOfTurn ? "Зняти" : "Встановити"}} "Поза чергою"'
                class="btn btn-sm btn-info masonry-list-icon text-white"
                [disabled]="item.activity == 'ON_PROCEDURE'"
                (click)="updateOutOfTurn(item?.talon.id, item.activity != 'INVITED', item.person.fullName, group.procedureName)">
                <i
                    [ngClass]="{'fa': true, 'fa-arrow-circle-up': item.activity != 'INVITED', 
                            'fa-arrow-circle-down': item.activity == 'INVITED'}"></i>
            </button>
            <span class="masonry-list-item badge badge-{{Activity[item.activity].cssClass}}"
                title="{{item.person.fullName}} ({{Status[item.status].text}})"
                [ngStyle]="{'cursor': 'pointer'}" (click)="executeProcedure(item.talon.id, item.person.fullName, group.procedureName)">
                {{item.person.fullName}} </span> <span class="pull-right {{getTimeDiffClass(item.delta)}}">{{item.delta
                != null ? item.delta + ' хв.' : ''}}</span>
        </div>
    </div>
    </ngx-masonry-item> </ngx-masonry>
</div>