.masonry-item {
    width: 200px;
    box-shadow: 0px 0px 10px #222;
    -moz-box-shadow: 0px 0px 10px #222;
    -webkit-box-shadow: 0px 0px 10px #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    margin: 10px auto;
}

.masonry-header {
    padding: 3px 8px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.masonry-body {
    padding: 5px;
    height: 68px;
    overflow-y: hidden;
}

.masonry-body.expanded {
    height: 100%;
}

.masonry-list-item {
    display: inline-block;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5;
    text-overflow: ellipsis;
    vertical-align: baseline;
}

.masonry-list-icon {
    font-size: .875rem;
    padding: .03rem .1rem;
    vertical-align: top;
}

.masonry-header-title {
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    text-overflow: ellipsis;
}
