<div class="row mb-3">
    <div class="col-auto mr-auto">
        <h3>Готель</h3>
    </div>
    <div class="col-auto">
        <button [disabled]="loading" (click)="load()" title="Обновити"
            [ngClass]="{'btn btn-light text-success fa fa-refresh': true, 'fa-spin': loading}"></button>
    </div>
</div>
<div class="table-responsive" *ngIf="items">
    <table class="table table-bordered table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-nowrap">№</th>
                <th scope="col" *ngFor="let date of dates"
                    [ngClass]="{'text-nowrap': true, 'bg-danger':date.we, 'bg-dark':!date.we }">{{date.str}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.koika.name}}</td>
                <ng-container *ngFor="let date of item.line">
                    <td *ngIf="date"
                        class="{{date.id ? 'text-light bg-' + HotelState[date.state].cssClass : ''}}"
                        title="{{HotelState[date.state].text}}" [attr.colspan]="date.duration">
                        <ng-container *ngIf="date.id">
                            <button class="btn btn-light btn-sm" (click)="cancel(date.id)" *ngIf="date.id"
                                title="Видалити запис">
                                <i class="fa fa-trash fa-lg text-danger"></i>
                            </button> {{date.name}} 
                            ({{date.start | date:'dd.MM'}} - {{date.finish | date:'dd.MM'}}) 
                            - {{date.price}} грн.
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>