<app-loader [loader]="loading"></app-loader>
<form class="form-inline mb-3">
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">Початок</div>
        </div>
        <input type="date" class="form-control" name="start" [(ngModel)]="start" (change)="load()" />
    </div>
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">Кінець</div>
        </div>
        <input type="date" class="form-control" name="finish" [(ngModel)]="finish" (change)="load()" />
    </div>
</form>
<div class="content table-responsive table-full-width">
    <h4>Лікарі - загальна кількість процедур</h4>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ПІБ лікаря</th>
                <th>Процедур</th>
                <th>Зон</th>
                <th>Сума</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;">
                <td>{{item.name}}</td>
                <td>{{item.proceduraCount}}</td>
                <td>{{item.zonesCount}}</td>
                <td class="text-right">{{item.fee}} грн.</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Всього:</strong></td>
                <td class="text-right"><strong>{{sum}} грн.</strong></td>
            </tr>
        </tbody>
    </table>
</div>
