<div class="position-fixed" [style.right.px]="50">
    <button [ngClass]="{'fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
        [disabled]="loading" (click)="load()" title="Обновити"></button>
</div>
<div class="content table-responsive table-full-width" *ngIf="data">
    <h4>Статистика по лікарям поточна з підсумком</h4>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Ім'я</th>
                <th>Початок роботи</th>
                <th>Остання активність</th>
                <th>Пацієнт на процедурі</th>
                <th>Пацієнти</th>
                <th>Всього пацієнтів</th>
                <th>Процедури</th>
                <th>Всього процедур</th>
                <th>Кількість зон</th>
                <th>Нараховано</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data;">
                <td>{{item.name}}</td>
                <td>{{item.startWork | date:"HH:mm"}}</td>
                <td>{{item.lastActivity | date:"HH:mm"}}</td>
                <td>{{item.currentPatient}}</td>
                <td><p *ngFor="let p of item.patients;">{{p}}</p></td>
                <td>{{item.patients?.length}}</td>
                <td>
                  <p *ngFor="let p of item.procedureMap;">
                    {{p.procedureName}} ({{p.count}})
                  </p>
                </td>
              <td>{{getCount(item.procedureMap)}}</td>
                <td>{{item.zonesCount}}</td>
                <td>{{item.fee}}</td>
            </tr>
        </tbody>
    </table>
</div>
