<div class="row">
    <div class="col">
        <button class="btn btn-large m-2">Готівка в касі</button><br/>
        <button class="btn btn-large m-2">Лікарі - загальна кількість процедур</button><br/>
        <button class="btn btn-large m-2">Процедури - по лікарям</button><br/>
        <button class="btn btn-large m-2">Процедури - по лікарям з підсумком</button><br/>
        <button class="btn btn-large m-2">Процедури - по кількості</button><br/>
        <button class="btn btn-large m-2">Паціенти - ПІБ / Кількість / Готівка</button><br/>
        <button class="btn btn-large m-2">Паціенти - звідки</button><br/>
        <button class="btn btn-large m-2">Боржники звичайні</button><br/>
        <button class="btn btn-large m-2">Боржники VIP</button><br/>
    </div>
</div>