<app-loader [loader]="loading"></app-loader>
<form class="form-inline mb-3">
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">Початок</div>
        </div>
        <input type="date" class="form-control" name="start" [(ngModel)]="start" (change)="load()"
        	[ngClass]="{'is-invalid': !isValid()}" />
    </div>
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">Кінець</div>
        </div>
        <input type="date" class="form-control" name="finish" [(ngModel)]="finish" (change)="load()"
        	[ngClass]="{'is-invalid': !isValid()}" />
    </div>
</form>
<div class="content table-responsive table-full-width">
    <h4>Процедури - по кількості</h4>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Назва</th>
                <th>Сума</th>
                <th>Назначено</th>
                <th>Зроблено</th>
                <th>Скасовано</th>
                <th>Пропущено</th>
                <th>Зон</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of data">
            <tr [ngStyle]="{'cursor': 'pointer'}" (click)="getInfo(item.procedureId)">
                <td><i
                    [ngClass]="{'fa': true, 'fa-caret-right': !procedures[item.procedureId],
                    'fa-caret-down': procedures[item.procedureId] }"></i>
                    {{item.name}}</td>
                <td class="text-right text-nowrap">{{item.fee}} грн.</td>
                <td class="text-right text-nowrap">{{item.assigned}}</td>
                <td class="text-right text-nowrap">{{item.executed}}</td>
                <td class="text-right text-nowrap">{{item.cancelled}}</td>
                <td class="text-right text-nowrap">{{item.expired}}</td>
                <td class="text-right text-nowrap">{{item.zones}}</td>
            </tr>
            <tr *ngIf="procedures[item.procedureId]">
                <td colspan="7">
                    <div *ngIf="procedures[item.procedureId].length == 0">Дані відсутні.</div>
                    <p *ngFor="let doc of procedures[item.procedureId]">{{doc.doctorName}} -
                        {{doc.percent}}%</p>
                </td>
            </tr>
        </tbody>
        <tr>
            <td><strong>Всього:</strong></td>
            <td class="text-right text-nowrap"><strong>{{sum}} грн.</strong></td>
            <td class="text-right text-nowrap"><strong>{{assigned}}</strong></td>
            <td class="text-right text-nowrap"><strong>{{executed}}</strong></td>
            <td class="text-right text-nowrap"><strong>{{cancelled}}</strong></td>
            <td class="text-right text-nowrap"><strong>{{expired}}</strong></td>
            <td class="text-right text-nowrap"><strong>{{zones}}</strong></td>
        </tr>
    </table>
</div>
