  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard"></a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/persons" routerLinkActive="active-link">Список персон</a>
      </li>
      <li>
        <a routerLink="/queue" routerLinkActive="active-link">Очередь на процедуры</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/users" routerLinkActive="active-link">Пользователи ({{currentUser.firstName}} {{currentUser.lastName}})</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active-link">Выход</a>
      </li>
    </ul>
  </nav>