<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/persons">Пацієнти</a></li>
      <li><a routerLink="/doctors">Лікарі</a></li>
      <li><a routerLink="/procedures">Процедури</a></li>
      <li><a routerLink="/patients-queue">Загальна черга</a></li>
      <li><a routerLink="/procedures-queue">Черга на процедури</a></li>
      <li><a routerLink="/doctor-interface">Інтерфейс лікаря</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/users">Користувачі ({{currentUser.firstName}} {{currentUser.lastName}})</a></li>
      <li [style.margin-right.px]="20" ><a routerLink="/login">Вихід</a></li>
    </ul>
  </div>
</nav>