<app-loader [loader]="loading"></app-loader>
<button
    [ngClass]="{'pull-right fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
    [disabled]="loading" (click)="load()" title="Обновити"></button>
<div class="mb-3" *ngIf="item?.patient">
    <h2 class="title">{{item.talon.procedure.name}}</h2>
    <h4 class="title">{{item.patient.person.fullName}} ({{item?.patient.days}} день)</h4>
    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" [style.min-height.px]="100"
                (click)="startProcedure()" [hidden]="procedureStarted" [disabled]="loading">
                <h3 class="font-weight-bold">
                    РОЗПОЧАТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
            <form name="formExecute" (ngSubmit)="fe.form.valid && executeProcedure()" #fe="ngForm"
                novalidate [hidden]="!procedureStarted">
                <button class="btn btn-success btn-lg btn-block" [style.min-height.px]="100"
                    [disabled]="loading">
                    <h3 class="font-weight-bold">
                        ЗАВЕРШИТИ<br />ПРОЦЕДУРУ
                    </h3>
                </button>
            </form>
        </div>
        <div class="col">
            <button class="btn btn-danger btn-lg btn-block" [style.min-height.px]="100"
                (click)="cancelProcedure()" [hidden]="!procedureStarted" [disabled]="loading">
                <h3 class="font-weight-bold">
                    СКАCУВАТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
        </div>
    </div>
    <div class="row" *ngxPermissionsOnly="['ROLE_HEAD']">
        <div class="col">
            <div class="card mb-2">
                <div class="card-header">
                    <h4>Фінансова інформація</h4>
                </div>
                <div class="card-body row">
                    <div class="col-auto input-group" [style.max-width.px]="400">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Баланс: {{item.patient.balance}}
                                грн.</label>
                        </div>
                        <button class="btn btn-warning" (click)="showIncomePopup(item)"
                            [hidden]="!procedureStarted" [disabled]="loading">Історія
                            розрахунків</button>
                    </div>
                    <div class="col-auto input-group" [style.max-width.px]="300">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Статус:</label>
                        </div>
                        <select class="custom-select" [(ngModel)]="item.patient.status"
                            [ngModelOptions]="{standalone: true}" [disabled]="!procedureStarted"
                            (ngModelChange)="updateStatus(item.patient.id, item.patient.status)"
                            [disabled]="loading">
                            <option *ngFor="let status of Statuses" [ngValue]="status">
                                {{Status[status]?.text}}</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <a href="/statistic/patient/{{item.patient.id}}" target="_blank"
                            class="btn btn-secondary" [disabled]="loading">Статистика</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2" [hidden]="!procedureStarted" *ngIf="item.talon.procedure.zoned">
        <div class="col btn-group" role="group">
            <button class="btn btn-info btn-lg" (click)="subZone()" [disabled]="loading">
                <i class="fa fa-minus fa-5x"></i>
            </button>
            <button class="btn btn-light btn-lg btn-block" [disabled]="loading">
                <h4>Зон:</h4>
                <input type="number" class="form-control" [style.font-size.rem]="2"
                    [style.text-align]="'center'" name="zones" [(ngModel)]="item.talon.zones"
                    #zones="ngModel" />
            </button>
            <button class="btn btn-info btn-lg" (click)="addZone()" [disabled]="loading">
                <i class="fa fa-plus fa-5x"></i>
            </button>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <h4>Діагноз</h4>
        </div>
        <div class="card-body">
            <p>
                <span>Код:</span> <strong>{{item.patient.therapy?.codeDiag}}</strong>
            </p>
            <p>{{item.patient.therapy?.diag}}</p>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <h4>Зони</h4>
        </div>
        <div class="card-body p-0">
        	<div class="content">
                <button class="btn btn-success btn-small mr-2" (click)="editPicture()"
                    [disabled]="!procedureStarted || isEditablePicture">Редагувати</button>
                <button class="btn btn-secondary btn-small" (click)="clearCanvas()"
                    [disabled]="!procedureStarted || !isEditablePicture">Очистити</button>
                <button class="btn btn-primary btn-small" [style.width.px]="50"
                    [disabled]="!procedureStarted || !isEditablePicture"
                    (click)="setColor('blue')">&nbsp;</button>
                <button class="btn btn-danger btn-small" [style.width.px]="50"
                    [disabled]="!procedureStarted || !isEditablePicture"
                    (click)="setColor('red')">&nbsp;</button>
            </div>
            <canvas #canvas width="500" height="500"></canvas>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <h4>Нотатки</h4>
        </div>
        <div class="card-body" [innerHTML]="item.patient.therapy?.notes"></div>
    </div>
    <div class="card mb-5">
        <div class="card-header">
            <h4>Коментарі</h4>
        </div>
        <div class="card-body" [innerHTML]="item.talon.desc"></div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="comment">Додати коментар:</label>
        <textarea rows="5" class="form-control" [(ngModel)]="model.comment" [disabled]="loading"></textarea>
        <button class="btn btn-primary pull-right mb-3" [disabled]="model.comment == '' || loading"
            (click)="comment()">Додати</button>
      </div>
    </div>
    <div class="card mb-5" *ngIf="isUSI">
        <div class="card-header">
            <button class="btn btn-success pull-right">Добавити</button>
            <h4>Заключення УЗД</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <tr *ngFor="let doc of USI">
              <td>
                <button class="btn btn-primary" title="Переглянути">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-success" title="Редагувати">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger" title="Видалити">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </button>
              </td>
              <td>{{doc.title}}</td>
              <td>{{doc.doctor}}</td>
              <td>{{doc.date}}</td>
            </tr>
          </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary btn-lg btn-block" [style.min-height.px]="100"
                (click)="startProcedure()" [hidden]="procedureStarted" [disabled]="loading">
                <h3 class="font-weight-bold">
                    РОЗПОЧАТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
            <form name="formExecute" (ngSubmit)="fe.form.valid && executeProcedure()" #fe="ngForm"
                novalidate [hidden]="!procedureStarted">
                <button class="btn btn-success btn-lg btn-block" [style.min-height.px]="100"
                    [disabled]="loading">
                    <h3 class="font-weight-bold">
                        ЗАВЕРШИТИ<br />ПРОЦЕДУРУ
                    </h3>
                </button>
            </form>
        </div>
        <div class="col">
            <button class="btn btn-danger btn-lg btn-block" [style.min-height.px]="100"
                (click)="cancelProcedure()" [hidden]="!procedureStarted" [disabled]="loading">
                <h3 class="font-weight-bold">
                    СКАCУВАТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
        </div>
    </div>
</div>