<button
    [ngClass]="{'pull-right fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
    [disabled]="loading" (click)="load()" title="Обновити"></button>
<div class="content" *ngIf="item?.patient">
    <h2 class="title">{{item.talon.procedure.name}}</h2>
    <h4 class="title">{{item.patient.person.fullName}}</h4>
    <div class="row mb-3">
        <div class="col-8">
            <div class="card mb-2">
                <div class="card-header">
                    <h4>Діагноз</h4>
                </div>
                <div class="card-body">
                    <p>
                        <span>Код:</span> <strong>{{item.patient.therapy?.codeDiag}}</strong>
                    </p>
                    <p>{{item.patient.therapy?.diag}}</p>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h4>Зони</h4>
                </div>
                <div class="card-body">
                    <canvas #canvas width="500" height="500"></canvas>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h4>Нотатки</h4>
                </div>
                <div class="card-body">
                    <p>{{item.patient.therapy?.notes}}</p>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header">
                    <h4>Коментарі</h4>
                </div>
                <div class="card-body" [innerHTML]="item.talon.desc"></div>
            </div>
            <label for="comment">Добавити коментар:</label>
            <textarea rows="5" class="form-control" [(ngModel)]="model.comment"></textarea>
            <button class="btn btn-primary pull-right" [disabled]="model.comment == ''"
                (click)="comment()">Добавити</button>
        </div>
        <div class="col-4" [ngSwitch]="procedureStarted">
            <button class="btn btn-danger btn-lg btn-block mb-2" [style.min-height.px]="200"
                (click)="cancelProcedure()" *ngSwitchCase="true">
                <h3 class="font-weight-bold">
                    СКАCУВАТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
            <form name="formExecute" (ngSubmit)="fe.form.valid && executeProcedure()" #fe="ngForm"
                novalidate *ngSwitchCase="true">
                <button class="btn btn-success btn-lg btn-block mb-2" [style.min-height.px]="200">
                    <h3 class="font-weight-bold">
                        ЗАВЕРШИТИ<br />ПРОЦЕДУРУ
                    </h3>
                </button>
            </form>
            <button class="btn btn-info btn-lg btn-block mb-2" (click)="addZone()"
                *ngSwitchCase="true">
                Зон: {{item.talon?.zones}}
                <h4>Добавити зону</h4>
            </button>
            <button class="btn btn-primary btn-lg btn-block mb-2" [style.min-height.px]="200"
                (click)="startProcedure()" *ngSwitchCase="false">
                <h3 class="font-weight-bold">
                    РОЗПОЧАТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
        </div>
    </div>
</div>