<button
    [ngClass]="{'pull-right fa fa-refresh text-success btn btn-light mb-3': true, 'fa-spin': loading}"
    [disabled]="loading" (click)="load()" title="Обновити"></button>
<div class="content" *ngIf="item?.patient">
    <h2 class="title">{{item.talon.procedure.name}}</h2>
    <h4 class="title mb-5">{{item.patient.person.fullName}}</h4>
    <form name="form" #f="ngForm" novalidate (ngSubmit)="f.form.valid">
        <div class="row">
            <div class="col-8">
                <div class="card mb-2">
                    <div class="card-header">
                        <h4>Діагноз</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Код</div>
                            </div>
                            <input type="text" class="form-control" name="codeDiag"
                                #codeDiag="ngModel" [(ngModel)]="model.codeDiag"
                                [readonly]="!procedureStarted" />
                        </div>
                        <textarea rows="3" class="form-control" name="diag" #diag="ngModel"
                            [(ngModel)]="model.diag" [readonly]="!procedureStarted"></textarea>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header">
                        <h4>Нотатки</h4>
                    </div>
                    <div class="card-body">
                        <textarea rows="5" class="form-control" name="notes" #notes="ngModel"
                            [(ngModel)]="model.notes" [readonly]="!procedureStarted"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button *ngIf="procedureStarted" class="btn btn-success btn-lg btn-block"
                    [style.min-height.px]="200" (click)="executeProcedure()">
                    <h3 class="font-weight-bold">
                        ЗАВЕРШИТИ<br />ДІАГНОСТИКУ
                    </h3>
                </button>
                <button *ngIf="procedureStarted" class="btn btn-danger btn-lg btn-block"
                    [style.min-height.px]="200" (click)="cancelProcedure()">
                    <h3 class="font-weight-bold">
                        СКАCУВАТИ<br />ДІАГНОСТИКУ
                    </h3>
                </button>
                <button *ngIf="!procedureStarted" class="btn btn-primary btn-lg btn-block"
                    [style.min-height.px]="200" (click)="startProcedure()">
                    <h3 class="font-weight-bold">
                        РОЗПОЧАТИ<br />ДІАГНОСТИКУ
                    </h3>
                </button>
            </div>
        </div>
        <div class="row" *ngxPermissionsOnly="['ROLE_HEAD']">
            <div class="col">
                <div class="card mb-2">
                    <div class="card-header">
                        <h4>Фінансова інформація</h4>
                    </div>
                    <div class="card-body row">
                        <div class="col-auto input-group" [style.max-width.px]="400">
                            <div class="input-group-prepend">
                                <label class="input-group-text"> Баланс:
                                    {{item.patient.balance}} грн. </label>
                            </div>
                            <button class="btn btn-warning" (click)="showIncomePopup(item)"
                                [hidden]="!procedureStarted">Історія розрахунків</button>
                        </div>
                        <div class="col-auto input-group" [style.max-width.px]="300">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Статус:</label>
                            </div>
                            <select class="custom-select" [(ngModel)]="item.patient.status"
                                [ngModelOptions]="{standalone: true}" [disabled]="!procedureStarted"
                                (ngModelChange)="updateStatus(item.patient.id, item.patient.status)">
                                <option *ngFor="let status of Statuses" [ngValue]="status">
                                    {{Status[status]?.text}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-2">
                    <div class="card-header">
                        <h4>Історія хвороби</h4>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <div class="content">
                    <button class="btn btn-secondary btn-small" (click)="clearCanvas()"
                        [disabled]="!procedureStarted">Очистити</button>
                    {{currentProcedureName}}
                    <button [hidden]="!procedureStarted || currentProcedureName == ''"
                        (click)="saveProcedure()" class="ml-2 btn btn-success btn-small">Зберегти</button>
                    <button class="btn btn-danger btn-small pull-right" [style.width.px]="50"
                        [disabled]="!procedureStarted" (click)="setColor('red')">&nbsp;</button>
                    <button class="btn btn-primary btn-small pull-right mr-2" [style.width.px]="50"
                        [disabled]="!procedureStarted" (click)="setColor('blue')">&nbsp;</button>
                </div>
                <canvas #canvasDiag width="500" height="500"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <div class="card mb-2">
                    <div class="card-header">
                        <h4>Курс лікування</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Тривалість (днів)</div>
                            </div>
                            <input type="number" class="form-control" name="days" #days="ngModel"
                                [(ngModel)]="model.days" [readonly]="!procedureStarted" />
                        </div>
                        <div class="mb-2">
                            <button [disabled]="!procedureStarted" [style.width.px]="400"
                                [ngClass]="{'text-left': true, 'm-1': true, 'btn': true,
                                                'btn-primary': model.manualTherapy,
                                                'btn-secondary': !model.manualTherapy}"
                                (click)="model.manualTherapy = !model.manualTherapy">Провести
                                автоматично мануальну терапію</button>
                        </div>
                        <div class="mb-2" *ngIf="procedures?.length">
                            <div *ngFor="let procedure of procedures">
                                <div *ngIf="procedure.header">{{procedure.header}}</div>
                                <button [disabled]="!procedureStarted" [style.width.px]="400"
                                    [ngClass]="{'text-left': true, 'm-1': true, 'btn': true,
                                                'btn-primary': procedure?.selected,
                                                'btn-secondary': !procedure?.selected}"
                                    (click)="toggleProcedure(procedure)" title="{{procedure.name}}">
                                    <span class="badge badge-light mr-1">{{procedure.today}}</span>
                                    {{procedure.name}}
                                </button>
                                <button [hidden]="!isCorrectable(procedure)"
                                    (click)="correctProcedure(procedure)"
                                    class="ml-1 btn btn-warning">Корегувати</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
