.masonry-item {
    width: 300px;
    box-shadow: 0px 0px 10px #222;
    -moz-box-shadow: 0px 0px 10px #222;
    -webkit-box-shadow: 0px 0px 10px #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    margin: 10px auto;
}

.masonry-header {
    padding: 3px 8px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.masonry-body {
    padding: 5px;
    max-height: 130px;
    overflow-y: hidden;
    font-size: 2rem;
}

.masonry-body.expanded {
    max-height: 100%;
}

.masonry-list-item {
    display: inline-block;
    max-width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
}

.masonry-list-item button {
    max-width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.masonry-header-title {
    font-weight: 700;
    text-align: center;
    /* white-space: nowrap; */
    vertical-align: baseline;
    /* text-overflow: ellipsis; */
}
