<div class="row">
	<div class="header">
	  <h1 class="title">
	    Інтерфейс лікаря
	    <img *ngIf="loading" alt="loading" src="/assets/loading.gif">
	  </h1>
	  <h4 class="title">Діагностика</h4>
	</div>
</div>
<div class="content" *ngIf="item?.person">
  <div class="row">
  <h4 class="title">
    Паціент <b>{{getFullName(item.person)}}</b>
  </h4>
  </div>
  <div [ngSwitch]="procedureStarted">
    <div class="row" *ngSwitchCase="true">
	    <div class="col-8">
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h4>Призначити процедури:</h4>
        <button [style.margin.rem]=".375" [ngClass]="{
          'btn': true, 
          'btn-primary': !proc?.selected, 
          'btn-success': proc?.selected
          }" (click)="proc.selected = !proc?.selected" *ngFor="let proc of procedures">
          {{proc.name}}
         </button>
	    </div>
	    <div class="col-4">
	       <button class="btn btn-success btn-lg btn-block"
	          [style.min-height.px]="200" (click)="executeProcedure()">Завершити процедуру</button>
	       <button class="btn btn-danger btn-lg btn-block"
	          [style.min-height.px]="200" (click)="cancelProcedure()">Скаcувати процедуру</button>
	    </div>
    </div>
		<div class="row" *ngSwitchCase="false">
		  <div class="col-8">
	       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  </div>
		  <div class="col-4">
	      <button class="btn btn-primary btn-lg btn-block"
	        [style.min-height.px]="200" (click)="startProcedure()">Почати процедуру</button>
		  </div>
		</div>
  </div>
</div>
