<div class="content" *ngIf="item?.person">
    <h2 class="title">{{item.talons[0].procedure.name}}</h2>
    <h4 class="title">{{item.person.fullName}}</h4>
    <div class="row">
        <div class="col-8">
            <p>Діагноз та примітки до процедури</p>
            <textarea class="form-control" id="notes" rows="5"></textarea>
        </div>
        <div class="col-4">
            <button class="btn btn-success btn-lg btn-block" [style.min-height.px]="200"
                (click)="executeProcedure('')">
                <h3 class="font-weight-bold">
                    ЗАВЕРШИТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
            <button class="btn btn-danger btn-lg btn-block" [style.min-height.px]="200"
                (click)="cancelProcedure('')">
                <h3 class="font-weight-bold">
                    СКАCУВАТИ<br />ПРОЦЕДУРУ
                </h3>
            </button>
        </div>
    </div>
</div>