<app-loader [loader]="loading"></app-loader>
<form class="form-inline mb-3 no-print" >
  <div class="input-group mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Початок</div>
    </div>
    <input type="date" class="form-control"
           name="start" [(ngModel)]="start" (change)="load()" />
  </div>
  <div class="input-group mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Кінець</div>
    </div>
    <input type="date" class="form-control"
           name="finish" [(ngModel)]="finish" (change)="load()" />
  </div>
</form>
<img src="assets/logo_mednean.jpg" width="120" class="pull-left">
<img src="assets/logo_medecine.jpg" class="pull-right">
<center>
<strong>МІНІСТЕРСТВО ОХОРОНИ ЗДОРОВ’Я УКРАЇНИ<br/>
ПРИВАТНЕ ПІДПРИЄМСТВО МЕДИЧНИЙ ЦЕНТР «МЕДНЕАН»<br/>
ЄДРПОУ 36191728<br/>
{{address_info.address}}<br/></strong>
тел. {{address_info.phone}}<br/>
сайт: {{address_info.site}}<br/>
e-mail: {{address_info.email}}
<br/><br/>
<h1>Виписка</h1>
</center>
<span class="pull-right">вих. №______</span>
<br/><br/>
Видана гр. <strong>{{data?.patient.person.fullName}}</strong>,
<strong>{{data?.patient.person.dateOfBirth ?
    (data?.patient.person.dateOfBirth | date:"dd.MM.yyyy") : '_________________' }}</strong> р.н.,
{{data?.patient.person.gender ? 'жителю' : 'жительці'}}
м./с. {{data?.patient.person.town || '__________________________'}}
{{data?.patient.person.address  || '_____________________________________________________________'}}
в тому, що {{data?.patient.person.gender ? 'він' : 'вона'}}
дійсно {{data?.patient.person.gender ? 'перебував' : 'перебувала'}}
на амбулаторному (стаціонарному) лікуванні в ПП МЦ «МЕДНЕАН»
з {{data?.start ? (data?.start | date:"dd.MM.yyyy") : '_________________'}}
по {{data?.finish ? (data?.finish | date:"dd.MM.yyyy") : '_________________'}}
<br/><br/>
<strong>Діагноз при поступленні</strong>: {{data?.patient.therapy.diag
|| '______________________________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________________________________________________________'}}
<br/><br/>
За час лікування {{data?.patient.person.gender ? 'проходив' : 'проходила'}}:
<br/><br/>


<!--<pre>{{data | json}}</pre>-->
<h1 *ngIf="data.list.length == 0"> Нема даних. Див. архiв  2018-2019 рр.</h1>

<div *ngIf="data.list.length > 0">
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th width="80">№ п/п</th>
            <th>Назва</th>
            <th width="100">К-ть зон</th>
            <th width="120">Ціна</th>
            <th width="150">Сума</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data?.list; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td align="center">{{item.zones}}</td>
            <td align="right">{{item.price}} грн.</td>
            <td align="right">{{item.sum}} грн.</td>
        </tr>
    </tbody>
</table>

<p>Готель: <strong>{{data?.hotel || 0}}</strong> грн.</p>
<p>Знижка: <strong>{{data?.discount || 0}}</strong> грн.</p>
<p>Внески: <strong>{{data?.tips || 0}}</strong> грн.</p>
<p>Сума: <strong>{{data?.sum || 0}}</strong> грн.</p>

<br/><br/>
Рекомендації:_______________________________________________________________________________________
____________________________________________________________________________________________________
____________________________________________________________________
<br/><br/>
М.П.
<span class="pull-right">{{ date | date: "dd.MM.yyyy"}} p.</span>
<br/><br/>
<span class="pull-right">Головний лікар ______________________ Нечай А.В.</span>

 </div>
